/*SLIDER*/
#slideShow {
	width: 100%;
	height: 650px;
}
.layer_slider {
	font-family: 'Kelly Slab', cursive !important;
	color: #FFF;
	position: relative;
	opacity: 1;
	left: 10px!important;
	top: 5px!important;
	text-shadow: 5px 5px 0 rgba(0, 0, 0, 1);
}
.SlideNo:after {
	content: '';
	background: transparent url(../../images/parallax_slider/pattern.png) repeat top left;
	position: absolute;
	height: 770px;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.SlideNo > div {
	position: relative;
	z-index: 2;
}
.SlideNo img {
	position: absolute;
	width: 100%;
	opacity: 1;
	left: 0px;
	top: 0px;
}
.content {
	padding: 10px;
	margin: 15px;
	background: rgba(48,48,48,.8);
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 2px solid #FFF;
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
	text-transform: uppercase;
}
.slideControlBTN {
	position: relative;
	z-index: 5;
}
ul.slideControl {
	position: absolute;
	left: 50%;
	bottom: 10px;
	width: 100%;
	text-align: center;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-ms-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
	opacity: 0.8;
}
ul.slideControl li {
	float: left;
	padding: 7px;
	background: url(../../images/bullets.png) no-repeat 0 0;
	margin: 5px;
	cursor: pointer;
}
ul.slideControl li:hover, ul.slideControl li.current {
	background-position: 100% 0;
}
@media (min-width: 768px) and (max-width: 979px) {
#slideShow {
	height: 290px;
}
}
@media (max-width: 800px) {
#slideShow {
	height: 290px;
}
}
 @media (max-width: 600px) {
#slideShow {
	height: 290px;
}
}
 @media (max-width: 480px) {
#slideShow {
	height: 240px;
}
h2 {
	font-size: 20px;
}
.content {
	font-size: 12px!important;
	margin: 5px !important;
	padding: 5px !important;
}
}
 @media (max-width: 568px) {
#slideShow {
	height: 200px;
}
}
 @media (max-width: 320px) {
#slideShow {
	height: 200px;
}
}
